.headerWrapper {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #03506f;
  span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  span:hover {
    background-color: mediumaquamarine;
  }
}
